.detail {
  width: 100%;
  .detail-img-box {
    height: 300px;
    width: 100%;
    background-color: rgba(255, 192, 203, 0.466);
  }
  .detail-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .detail-markdown-box {
      max-width: 1200px;
      flex: 1;
      margin: 20px;
    margin-left: 10px;
    margin-right: 10px;

    border: 1px dotted rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .1);
    }
  }
}