.above {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  // background-color: lightyellow;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
  }
}