article {
  width: 100%;
  position: relative;
  z-index: 3;

  .article-list {
    // height: 800px;
    // max-width: 1200px;
    margin: 0 auto;
    // border: 1px solid lightseagreen;
    position: relative;

    .blog-list-box {
      max-width: 800px;
      margin: 0 auto;
      padding: 10px;

      .article-box {
        width: 100%;
        height: 300px;
        // border: 1px solid lightseagreen;
        border-radius: 10px;
        margin: 20px 0 20px;
        box-shadow: 0 1px 20px -6px rgba(0, 0, 0, .4);

        .leftimg-left-box {
          height: 300px;
          // border: 1px solid red;
          border-radius: 10px 0 0 10px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            object-fit: cover;
          }
        }

        .leftimg-right-box {
          overflow: hidden;
          padding-top: 10px;

          .leftimg-right-item {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 45px;
            padding-right: 30px;
            text-align: right;
          }

          .leftimg-right-item-fat {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            height: 70px;
            padding-right: 30px;
          }
        }

        .rightimg-left-box {
          height: 300px;
          // border: 1px solid red;
          border-radius: 0 10px 10px 0;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            object-fit: cover;
          }
        }

        .rightimg-right-box {
          overflow: hidden;
          padding-top: 10px;

          .rightimg-right-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 45px;
            padding-left: 30px;
            text-align: light;
          }

          .rightimg-right-item-fat {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            height: 70px;
            padding-left: 30px;
          }
        }
      }

      .mobile-article-box {
        border-radius: 10px;
        margin: 20px 0 20px;
        box-shadow: 0 1px 20px -6px rgba(0, 0, 0, .4);

        .mobile-top-box {
          background-color: linen;
          height: 240px;
          border-radius: 10px 10px 0 0;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            object-fit: cover;
          }
        }

        .mobile-bottom-box {
          display: flex;
          height: 180px;
          padding: 20px;

          .mobile-bottom-left-box {
            flex: 1;
            overflow: hidden;
            padding-right: 10px;

            .mobile-bottom-left-item {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              height: 30px;
              line-height: 30px;
            }

            .mobile-bottom-left-item-introduce {
              // display: inline-block;
              width: 100%;
              // border: 1px solid red;
              height: 30px;
              line-height: 30px;
              /* 不换行 */
              white-space: nowrap;
              /* 内容超出宽度时隐藏超出部分的内容 */
              overflow: hidden;
              /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
              text-overflow: ellipsis;

            }
          }

          .mobile-bottom-right-box {
            flex-shrink: 0;
            width: 80px;
            border-left: 1px dotted #cccccc;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 18px;

            button {
              flex-shrink: 0;
            }
          }
        }
      }

      .say-box {
        width: 100%;
        min-height: 100px;
        // border: 1px solid lightskyblue;
        border-radius: 10px;
        margin: 20px 0 20px;
        box-shadow: 0 1px 20px -6px rgba(0, 0, 0, .4);
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .say-left-box {
          border-right: 1px dotted #cccccc;
          min-height: 80px;
          width: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .say-right-box {
          flex: 1;
          min-height: 100px;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          display: flex;
          justify-content: flex-start;
          align-items: center;

        }
      }
    }

    .more-blog-box {
      position: relative;
      bottom: 0;
      width: 100%;
      padding: 20px;
      padding-bottom: 40px;
      display: flex;
      justify-content: center;
    }
  }
}

.pc-title {
  font-size: 21px;
  font-weight: bold;
  color: #1f2f3d;
}

.mobile-title {
  font-size: 16px;
  font-weight: bold;
  color: #1f2f3d;
}